/*This is the styling sheet for bitgames*/

/*Font style*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');


/*border-box tells the browser to account for any border and padding in the values you specify for an element's width and height.*/
* {
  background-color: rgb(228, 214, 183, );
  box-sizing: border-box;
  margin: 0;
  border: 0;
  padding: 0;
}

/*subtitle RETRO VIDEOGAMES STORE*/
div.subtitle {
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  padding-top: 80px;
  padding-left: 190px;
  color: #24252A;
}

div.header-back {
  margin: 0 auto;
  border: 0 auto;
  padding: 0 auto;
  width: 100%;
  height: 130px;
  background-image: url('../images/headerimg.png');
  background-repeat: no-repeat;
  background-size: 400px;
  background-color: rgb(123, 203, 243);
  background-position: 100vw 100vh -15px;
}

header {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 0px;
  background-color: #24252A;
  margin: 0 auto;
}

.nav-bar {
  list-style: none;
}

.nav-bar li {
  display: inline-block;
  padding: 0px 20px;
}

.nav-bar li a {
  transition: all 0.3s ease 0s;
}

.nav-bar li a:hover {
  color: rgb(247, 166, 146);
}

.cta button{
  padding: 5px 10px;
  background-color: rgba(0, 137, 170, 1); 
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
  margin: 3px;
}

button:hover {
  background-color: rgba(228, 214, 183, 0.8);
}

a,
li,
button {
  padding-top: auto;
  width: auto;
  text-decoration: none;
  list-style-type: none;
  font-size: 16px;
  font-weight: 500;
  color: #edf0f1;
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  text-align-last: center;
}

form.search input[type=text] {
  padding: 10px;
  font-size: 16px;
  border: 1px solid grey;
  float: left;
  width: 70%;
  background: #f1f1f1;
}

form.search button {
  float: left;
  width: 20%;
  padding: 10px;
  background: #24252A;
  color: white;
  font-size: 17px;
  /*border: 1px solid grey;*/
  border-left: none;
  cursor: pointer;
}

form.search button:hover {
  background: #547890;
}

form.search::after {
  content: "";
  clear: both;
  display: table;
}


.dropbtn {
  background-color: #24252A;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: rgb(247, 166, 146);
  /* #ddd;*/
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #24252A;
  color: rgb(247, 166, 146);
}

/*font styling*/

h1, h4 {
  font-family: "Montserrat", sans-serif;
}

h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 10pt;
}

input[type=text] {
  padding: 10px;
  font-size: 16px;
  border: 1px solid grey;
  float: right;
  width: 70%;
  background: #f1f1f1;
}


/*************footer***********/

.footer {
  position: relative;
  margin-top: 10%;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #24252A;
  color: white;
  text-align: left;
  display: inline-block;
  
}

.footertext {
  padding: 20px 15%;
}

.footertext h3 {
  font-family: "Montserrat", sans-serif;
  font-size: 16pt;
}

.footertext p {
  font-family: "Montserrat", sans-serif;
  font-size: 12pt;
  padding: 5px;
}

.footer .social {
  justify-content: space-evenly;
  text-align: end;
}

.footer .social a {
  transition: all 0.3s ease 0s;
  padding: 2px 2px;
  margin: 5px;
}

.footer .social a:hover {
  color: rgb(247, 166, 146);
}

/**********product page**********/

div.pagetitle {
  margin-top: 20px;
  margin-left: 20px;
  margin-bottom: 20px;
  font-family: "Montserrat", sans-serif;
  font-size: 10pt;
}

div.product {
  margin-top: 100px;
  display: flex;
  flex-wrap: wrap;
  margin-left: 5%;
  margin-right: 5%;
}

div.productimage {
  justify-content: center;
  width: 400px;
}

div.productimage img {
  margin-left: 20px;
  margin-right: 10px;
  padding: 10px;
  width: 300px;
  height: auto;
  border: 1px solid rgb(0, 0, 0);
  border-radius: 4px;
}

div.pagetitle a {
  font-size: 10pt;
  color: rgb(236, 112, 83);
}

div.productdescription h2 {
  font-family: "Montserrat", sans-serif;
}

div.productdescription h3 {
  font-family: "Montserrat", sans-serif;
  font-size: 10pt;
  color: rgb(84, 120, 144);
}

div.productdescription h4 {
  font-family: "Montserrat", sans-serif;
  font-size: 15pt;
  color: rgba(0, 137, 170, 1);
}

span {
  display: block;
  padding: 5px;
}

div.product input {
  padding: 10px 15px;
  background-color: rgba(0, 137, 170, 1);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
  margin: 5px;
  font-size: 16px;
  font-weight: 500;
  color: #edf0f1;
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  text-align-last: center;
}




input[type=submit]:hover {
  background-color: rgba(228, 214, 183, 0.8); 
}

input[type=number] {
  font-size: 16px;
  font-weight: 500;
  color: #edf0f1;
}

::placeholder {
  font-size: 16px;
  font-weight: 500;
  color: #edf0f1;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  opacity: 1;
}

.checked {
  color: rgb(236, 112, 83);
}


/*********search results**********/

.searchresults {
  margin-top: 10px;
  margin-left: 5px;
  margin-right: 5px;
  width: 89%;
  
}

.grid-container {
  flex-wrap: wrap;
  display: grid;
  float:right;
  justify-content: justify;
  width: 70%;
  grid-template-columns: auto auto auto; 
  grid-gap: 10px;
  margin: 10px 10px;
}

.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  border: 2px solid rgba(190, 190, 190, 0.8);
  margin: 2px;
  padding: 20px;
  text-align: center;
  width: 300px;
}

.grid-item a {
  color: rgb(0, 0, 0);
  font-style: bold;
}

img.searchresultimage {
  max-width: 60%;
  /*height: 200px;*/
  justify-content: center;
}

.rating {
  width: 40%;
  font-size: 10.5px;
  font-family: "Montserrat", sans-serif;
  margin: auto;
}

.searchresults input {
  padding: 10px 15px;
  background-color: rgba(0, 137, 170, 1);
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
  margin: 5px;
  font-size: 16px;
  font-weight: 500;
  color: #edf0f1;
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  text-align-last: center;
  position:relative;
}


.searchoptions {
  float: left;
  display: -ms-flexbox;
  flex-wrap: wrap;
  margin-top: 120px;
  margin-right: 0;
  margin-left: 20px;
  border-style: hidden;
  border-radius: 5%;
  padding: 20px; 
  position:relative;
  background-color: #f1f1f1;
  min-width: 100px;
  width: 250px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  
}

.searchoptions-item {
  margin: 2px;
  padding: 2px;
  justify-content:justify;
  text-align: justify;
  font-family: "Montserrat", sans-serif;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: -ms-flexbox;
}
.searchoptions-item label:hover {
  color: rgb(247, 166, 146);
}

/********** Featured products ********/

.promotion{
  text-align:center;
  width: 100%;
  height: 40px;
  padding: 5px 5px;
}

.promotion .text{
  padding: 10px;
  font-size: 30px;
  font-family: "Montserrat", sans-serif;
}

.grid-featured{
  display: grid;
  justify-content: center;
  width: auto;
  grid-template-columns: auto auto auto auto; 
  grid-gap: 10px;
  margin: 10px;
}

.grid-element{
  padding: auto;
  width: auto;
  height: auto;
}

.grid-element {
  position: relative;
  padding: 0;
  width: 300px;
  display: block;
  cursor: pointer;
  overflow: hidden;
}
.content {
  opacity: 0;
  font-size: 40px;
  font-family: "Montserrat", sans-serif;
  position: absolute;
  top: 0;
  left: 0;
  color: rgba(228, 214, 183, 1);
  background-color: rgba(200, 200, 200, 1);
  width: 300px;
  height: 300px;
  -webkit-transition: all 400ms ease-out;
  -moz-transition: all 400ms ease-out;
  -o-transition: all 400ms ease-out;
  -ms-transition: all 400ms ease-out;
  transition: all 400ms ease-out;
}
.grid-element .content:hover {
  opacity: 0.5;
}
.grid-element .content .text {
  height: 0;
  opacity: 5;
  transition-delay: 0s;
  transition-duration: 0.4s;
  color: black;
}
.grid-element .content:hover .text {
  opacity: 0.9;
  transform: translateY(250px);
  -webkit-transform: translateY(250px);
}

/********** sign up form ********/


.signupform{
  margin-top: 10px;
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 10vh;
  justify-content: center;
}

.signupform .row{
  display: block;
  padding: 10px;
  text-align:center;
  font-family: "Montserrat", sans-serif;
}

.signupform label{
  padding: 10px;
  font-size: 20px;
}

.signupform [type='password']{
  border: 1px solid grey;
  width: 70%;
  float: right;
  background: #f1f1f1;
  height: 40px;
}

.signupform textarea{
  border: 1px solid grey;
  width: 70%;
  float: right;
  background: #f1f1f1;
  height: 40px;
  resize: vertical;
}

.signupform input[type=submit] {
  padding: 10px 15px;
  background-color: rgba(0, 137, 170, 1);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
  margin: 5px;
  font-size: 16px;
  font-weight: 500;
  color: #edf0f1;
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  text-align-last:center;

}

.signupform input[type=submit]:hover{
  background-color: rgba(228,214,183, 0.8);
}

/********** shopping cart ********/

.shoppingcart {
  margin-top: 10px;
  margin-left: 5%;
  margin-right: 5%;
}


.shoppingcart .row{
  display: block;
  margin: 20px;
  text-align:center;
  
}

.shoppingcart label{
  padding: 10px;
  font-size: 20px;
}

.shoppingcart input[type='password']{
  border: 1px solid grey;
  width: 70%;
  float: right;
  background: #f1f1f1;
  height: 40px;
}


.shoppingcart input[type=button] {
  padding: 7px 10px;
  background-color: rgba(0, 137, 170, 1);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
  margin: 5px;
  font-size: 12px;
  font-weight: 500;
  color: #edf0f1;
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  text-align-last:center;

}

.shoppingcart input[type=button]:hover{
  background-color: rgba(228,214,183, 0.8);
}

.shoppingcart input[type=number]{
  font-size: 16px;
  font-weight: 500;
  text-align: center;
  color:black;/* #edf0f1;*/
}


.shoppingcart .quantity{
  float: left;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button {  
  opacity: 1;
}